div {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
	height:100%;
	margin: 0;

	flex-direction: row;
	align-items: stretch;
	overflow:hidden;

	background: black;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;

}

#wrapper {

	display: flex;
	flex-wrap: nowrap;


	align-items: stretch;


	flex:0 1 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items:stretch;

	
	flex:1;
}


.flex-column {
	display: flex;
	flex-direction: column;
	align-items:stretch;

	
	flex:1;
}

.flex-element {
}

#useless-container {
	flex-basis: 80%;
	
	
}

#list-container {

	flex-basis: 20%;	
	

}



.button {
	display: flex;
	width:40px;
	height:40px;
}

.cameraButton {
	position:absolute;
	width:120px;
	height:120px;
	
	align-items:center;
	justify-content: center;

}

.buttonKey {
	
	border:0px solid black;

	position:absolute;
	width:60px;
	height:60px;
	
	align-items:center;
	justify-content: center;
}

#commands-container {
	align-items: center;
	flex:1;
	justify-content: space-between;
}

#movementControls {
	align-items: center;
	flex-basis:241px;
	min-width:241px;
	flex:0;
	width:241px;
	height:241px;
	background: url("img/arrowkeys.png") 0px 0px;
	position: relative;
	
}

#cameraControls {
	align-items: center;
	flex-basis:241px;
	min-width:241px;
	flex:0;
	width:241px;
	height:241px;
	background: url("img/arrowkeys.png") 0px 0px;
	position: relative;
}

#top-row {
	flex-basis:100%;
}

#bottom-row {
	flex-basis:400px;
	
	align-items:center;
}

#tabs {
	flex-basis:40px;
}

.tab-element {

	display: flex;
	flex-basis:200px;

	

}


#speedSlider {
	width: 340px;
	height: 90px;
	position:absolute;
	top:30px;
	right:30px;
	background:url("img/speedBar.png");
}

#speedTic{
	position:absolute;
	width:15px;
	height:55px;
	top:50%;
	margin-top:-27px;
	left:100px;
	background:url("img/speedTic.png");
}