div {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
	height:100%;
	margin: 0;

	flex-direction: row;
	align-items: stretch;
	overflow:hidden;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;

}

#wrapper {

	display: flex;
	flex-wrap: nowrap;


	align-items: stretch;


	flex:0 1 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items:stretch;

	border:1px solid black;
	flex:1;
}


.flex-column {
	display: flex;
	flex-direction: column;
	align-items:stretch;

	border:1px solid black;
	flex:1;
}

.flex-element {
	border:1px solid black;
}

#video-container {
	flex-basis: 80%;
	
	border:1px solid black;
}

#list-container {

	flex-basis: 20%;	
	border:1px solid black;

}



.button {
	display: flex;
	width:40px;
	height:40px;
	border:1px solid black;
	align-items:center;
	justify-content: center;
}

#commands-container {
	align-items: center;
	flex-basis:160px;
	flex:0;
	margin:40px;
}

#arrowkeys {
	align-items: center;
	flex-basis:160px;
	flex:0;
	
}

#cameraControls {
	align-items: center;
	flex-basis:160px;
	flex:0;
	margin-left:40px;
}

#top-row {
	flex-basis:100%;
}

#bottom-row {
	flex-basis:200px;
	justify-content: flex-start;
	align-items:center;
}

#tabs {
	flex-basis:40px;
}

.tab-element {

	display: flex;

	flex-basis:200px;

	border:1px solid black;

}
